[user]
  name = Renaud Germain
  email = renaud.germain@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  pager = /bin/cat
[color]
  ui = always
[alias]
  mdiff = diff --word-diff --minimal -w -b
  pr = pull-request
[pull]
	ff = only
