.Trash
.Xauthority
.aws
.bash_history
.cache
.dmenu_cache
.docker
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/places
.gdrive
.ghc/ghci_history
.gimp-2.8/
.gnupg
.lesshst
.log
.lpass
.m2
.mozilla/
.npm
.nvm
.password-store
.qemu/
.ssh
.ssh/id_rsa
.surf/cache
.surf/cookies.txt
.todo.org*
.uplink
.wine
.wine64
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsession-errors
.zhistory
.zshrc.local
Desktop
Library
bak
doc
media
mysql-dev-data
src
tmp
usr/bin/drop_db
usr/bin/sputnik
usr/ftk-sputnik-simulator-34.0.0-4143-sim
