bak
doc
media
src
tmp
.todo.org*
.xsession-errors
.mail
.log
.bash_history
.lesshst
.qemu/
.ghc/ghci_history
.gimp-2.8/
.dmenu_cache
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.mozilla/
.moosic/player_log
.moosic/saved_state
.moosic/server_log
.fetchmail.pid
.wine
.wine64
.Xauthority
.fetchmail.log
.emacs.d/auto-save-list
.ssh/id_rsa
.uplink
.vimperator
.password-store
.surf/cache
.surf/cookies.txt
