.Trash
.Xauthority
.abook
.bash_history
.cache
.dmenu_cache
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/ido.last
.emacs.d/places
.gdrive
.ghc/ghci_history
.gimp-2.8/
.lesshst
.log
.mail
.mozilla/
.password-store
.qemu/
.ssh
.ssh/id_rsa
.surf/cache
.surf/cookies.txt
.todo.org*
.uplink
.wine
.wine64
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xsession-errors
.zhistory
Desktop
Library
bak
doc
media
src
tmp
