URxvt*internalBorder: 0
   URxvt*borderColor: red
    URxvt*background: black
    URxvt*foreground: #a4b4fa
     URxvt*scrollBar: false
     URxvt*saveLines: 1000
       URxvt*tinting: White
       URxvt*shading: 10
   URxvt*transparent: True
!	      URxvt*font: -misc-fixed-medium-r-normal--14-140-75-75-c-90-iso10646-1
          URxvt*font: xft:Inconsolata
      URxvt*iso14755: false
   URxvt*iso14755_52: false

        URxvt*color4: #4444ff
       URxvt*color12: #4444ff

! TODO copy ~/.emacs.d/cyberpunk-theme.el colors to this one:
! #include "/home/rcog/.Xdefaults.c.vimbrant"
